{% assign url_parts = page.url | split: '/' %}
{% assign part_url = '' %}

<nav id="theme-breadcrumbs">
  <ul>
    {% for part in url_parts %}
    {% assign part_url = part_url | append: part | append: '/' %}
    {% assign crumb = site.pages | where: 'url', part_url | first %}
    {% if crumb.url != null %}
    {% if page.url != crumb.url %}
    <li><a href="{{ crumb.url }}">{{ crumb.title | default: crumb.dir }}</a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
</nav>
