<header>
  {% if site.title %}

    <section class="site-title {% if page.url == '/' %} home {% endif %}">
      <a href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
    </section>
  {% endif %}


</header>
