<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="{{ site.url }}">
            <img src="{{ site.logo_url }}" class="rounded" alt="" width="38" height="38">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ site.url }}">
                        Значки и достижения на GitHub
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github-profile-achievements.github.io/">
                        На других языках
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
