<section class="page-information">

    {% if site.github.repository_url %}
    <h3 id="page-edit-links">Правки на GitHub</h3>
    <ul class="edit-links">
        <li>
            <a href="{{ site.github.repository_url }}/edit/{{ default_branch }}/{{ page.path }}">
                <i class="bi bi-arrows-angle-contract"></i> Редактировать страницу
            </a>
        </li>
        <li>
            <a href="{{ site.github.repository_url }}/issues">
                <i class="bi bi-list-stars"></i> Написать замечание
            </a>
        </li>
    </ul>
    {% endif %}

    <p>{{ site.baseurl }}</p>
    <p>{{ site.url }}</p>
</section>
