<section class="page-information">

    {% if site.github.repository_url %}
    <h3 id="page-edit-links">Contribute on GitHub</h3>
    <ul class="edit-links">
        <li>
            <a href="{{ site.github.repository_url }}/edit/{{ default_branch }}/{{ page.path }}">
                {% include github-pr.svg %} Edit this page
            </a>
        </li>
        <li>
            <a href="{{ site.github.repository_url }}/issues">
                {% include github-issue.svg %} File an Issue
            </a>
        </li>
    </ul>
    {% endif %}

</section>
