<!-- GitHub repository information -->
{% if site.github %}
<section class="mt-2">
    <h3>Проект на GitHub</h3>
    <p>
        Эта страница была в последний раз обновлена {{ site.time | date_to_long_string }}
        из репозитори <a href="{{ site.github.repository_url }}">{{ site.github.repository_nwo }}</a>
        на GitHub.</p>

    <a class="btn btn-outline-secondary" role="button" href="https://github.com/github-profile-achievements/russian">
        <i class="bi bi-github"></i>
        Мы на GitHub
    </a>
</section>
{% endif %}

<!-- Release information -->
{% if site.github and site.github.releases and site.github.releases[0] %}
<section class="mt-4">
    {% assign latestRelease = site.github.releases[0] %}

    <p>
        Последний релиз
        {{ latestRelease.tag_name }}{% if latestRelease.prerelease == true %} (pre-release){% endif %}
    </p>


    <p>{{ latestRelease.name }}</p>

    <ul>
        <li>
            Опубликован
            <a href="{{ latestRelease.html_url }}">{{ latestRelease.published_at | date_to_long_string }}</a>
        </li>
        <li>
            Исходный код доступен в архивах
            <a href="{{ latestRelease.zipball_url }}" download><code>.zip</code></a>
            и
            <a href="{{ latestRelease.tarball_url }}" download><code>.tar.gz</code></a>
        </li>
        <li>
            <a href="{{ site.github.repository_url }}/releases">История релизов</a>
        </li>
    </ul>

</section>
{% endif %}
