<!-- GitHub repository information -->
{% if site.github %}
<div class="d-grid gap-1">
    <a class="btn btn-success" role="button" href="https://github.com/github-profile-achievements/russian">
        <!-- <i class="bi bi-github"></i> -->
        Эта страница на GitHub
    </a>
</div>

<section class="mt-4">
    <p>
        Эта страница была в последний раз обновлена {{ site.time | date_to_long_string }}
        из репозитори <a href="{{ site.github.repository_url }}">{{ site.github.repository_nwo }}</a>
        на GitHub.
    </p>
</section>
{% endif %}

<!-- Release information -->
{% if site.github and site.github.releases and site.github.releases[0] %}
<section class="mt-5">
    {% assign latestRelease = site.github.releases[0] %}

    <p>
        Последний релиз:
        <strong>{{ latestRelease.tag_name }}{% if latestRelease.prerelease == true %} (pre-release){% endif %}</strong>
    </p>

    <ul>
        <li>
            Опубликован
            <a href="{{ latestRelease.html_url }}">{{ latestRelease.published_at | date_to_long_string }}</a>
        </li>
        <li>
            Исходный код доступен в архивах
            <a href="{{ latestRelease.zipball_url }}" download><code>.zip</code></a>
            и
            <a href="{{ latestRelease.tarball_url }}" download><code>.tar.gz</code></a>
        </li>
        <li>
            <a href="{{ site.github.repository_url }}/releases">История релизов</a>
        </li>
    </ul>

</section>
{% endif %}
