<nav class="theme-nav">
  <a href="https://publiccode.net/" title="Homepage of the Foundation for Public Code" class="logo-mark">
    <img src="https://brand.publiccode.net/logo/mark.svg" alt="The mark of the Foundation for Public Code looks like a little greek temple, or government building, in a hexagon">
    <p>Foundation for Public Code</p>
  </a>
</nav>
