{% if site.hide_foundation_footer != true %}
<footer id="foundation-footer">

    <div class="footer-trio">
        <section>
            <div class="footer-section-content">
                <h2>About us</h2>
                <p>All of our staff information, decision-making rules and processes. Our staff manual is developed
                    collaboratively with the community and can be reused by everyone.</p>
            </div>
            <div class="footer-links">
                <a href="https://about.publiccode.net">How we work</a>
            </div>
        </section>
        <section>
            <div class="footer-section-content">
                <h2>Project resources</h2>
                <p>Open products we're researching or developing to further our mission. We rely on these resources for
                    our everyday work. You can, too!</p>
            </div>
            <div class="footer-links">
                <a href="https://projects.publiccode.net">Free to use and modify</a>
                <a href="https://github.com/publiccodenet">See all our work on Github</a>
            </div>
        </section>
        <section>
            <div class="footer-section-content">
                <h2>Careers</h2>
                <p>Calling all publicly minded open source people! Find out about working with us, and join our
                    staff.</p>
            </div>
            <div class="footer-links">
                <a href="https://publiccode.net/careers/">Open positions</a>
            </div>
        </section>
    </div>

</footer>
{% endif %}
