@import url("rouge-highlight.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.table tr td img {
    max-width: 80px;
}

.img-lg {
    max-width: 120px;
}

h1 {
    margin-bottom: 36px;
}

h2 {
    margin-bottom: 24px;
}