<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en'}}">

  {% include head.html %}

  <body class="{% if page.toc != false and site.toc == true or page.toc == true %}with-toc{% endif %} {% if site.show_navigation == true %}with-site-nav{% endif %}">

    {% include navbar.html %}

    {{ content }}

    {% include theme-footer.html %}

  </body>

</html>
